body{
    font-family: 'Amatic SC', cursive;
    font-family: 'Cormorant Garamond', serif;
    font-size: $fuente-media;
    height: 100vh;    
    background-image: url(../img/fondo2.jpeg)!important;
    background-position:center;
    // height: 1800px;
    background-attachment:fixed;
    background-size: cover;
}
img{
    max-width: 100%;
}

@media (min-width: 992px) {#header{
    padding: 6 10;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    background-color: $colorprimario ;

}
.logo {
    position: absolute;
    margin: 0;
}
#barra {
    position: relative;
}
}
.carousel img{
    margin:auto;
    width: 400px;
    height: 600px;
}
 .container-fluid{
     background-color: black;
     display: block;
 }
 .nav-link, .nav-link.active, .navbar-nav .nav-link.active a{
     color: $colorsecundario;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;

     &:hover {         color: $colorterciario;
     }
 }

.logo img{
    width: 40px;
}

#navbarNav{
    padding: 0%;
}
.navbar{
    padding:0;
}
.navbar-toggler{
    color: $colorterciario;
    background-color:$colorsecundario;
}
h1, h2{
    @include flex-center;
    color: $colorsecundario;
    padding: 20px;
    font-size: $fuente-grande;
    margin: 100px 10px;
    text-align: center;
}
p{
    font-size: $fuente-media;
    color: $colorsecundario;
    text-align: center;
}
.regalate{
    text-decoration:solid;
    color: $colorterciario;
    @include flex-center;
    margin: 15px;
}
.beneficios{
    color: $colorsecundario;
    text-align: center;
    list-style: none;
}

footer{
    @include flex-center;
    margin-top: 25px;
}

footer{
    background-color: black;
}
footer img{
    width: 40px;

}
ul{
    padding-left: 0%;
}

//no me hizo falta usar @extend ya que usé más mixins y no tuve la necesidad y no queria poner por ponerlo//